@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
}

#wrapper{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
:root {
  --bgOrange: #e84949;
}

.container{
width: 1200px;
margin: 0 auto;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.nav-left{
  display: flex;
  align-items: center;
}
.logo{
  height: 80px;
}

.nav-left-text{
  margin-left: -1.2rem;
  font-size: 25px;
}

.nav-right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

a{
  text-decoration: none;
  color: black;
}

.nav-right div{
  font-size:20px;
  font-weight:500;
  cursor:pointer; 
}
.nav-right div:hover{
  transition: 0.7s;
  font-weight: 800; 
}

.hero{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
}
.faded-text{
  position:absolute;
  user-select:none;
  font-size: 7em;
  color:rgb(231,231,231);
  
  bottom: -16%;
  left: -5%;
  font-weight: bold;
  transition: all 3s;
}
.hero-section-left{
  width: 100%;
  display: flex;
   flex-direction: column;
  justify-content: center; 
  gap:2rem;
}

.hero-section-heading{
  font-size: 35px;
    color: #343d68;
    font-weight: 500;
}
.hero-section-sub-heading{
  font-size: 48px;
  line-height: 45px;
}

.role{
  color: #3851cd;
}
.hero-section-para{
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}

.btn-pink{
 width: fit-content;
 padding: 0.8rem 2.8rem;
  color: white;
  background-color: var(--bgOrange);
  border: none;
  font-weight: 500;
  font-size: 18px;
  box-shadow: 5px 5px 7px 0px rgb(160, 155, 155);
  border:solid 3px  transparent;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.btn-pink::before{
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform-origin: left;
  transition: all 0.8s;
  z-index: -1;
  transform: scaleX(0);
}
.btn-pink:hover::before{
  /* z-index: 1; */
  transform: scaleX(1);
}
.btn-pink:hover{
  color: black;
  border:solid 3px  var(--bgOrange);
}
.hero-section-right{
  position: relative;
}
.absolute{
  position: absolute;
}
.user-image{
  padding: 2.5rem;
  filter: grayscale(0);
  transition: all 1s;
  
  animation: scaleImage 5s linear infinite;
}

.user-image img{
  z-index: -8;
}

@keyframes scaleImage {
  0%{
    filter: grayscale(0);
    transform: scale(1);
  }
  50%{
    filter: grayscale(1);
    box-shadow: 5px 5px 7px black ;
    transform: scale(1.1);
  }
}

.circle{
  z-index: 8;
  bottom: 0;
  left: 0;
  animation-name: circleGo;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes circleGo {
 
  50%{
    bottom: 10%;
    left: 5%;
  }
}

.cube{
  z-index: 8;
  top: -0.5rem;
  right: 0.2rem;
  animation-name: cubego;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes cubego {
  0%{
    transform: rotateY(0) translateY(0);
  }
  50%{
    transform: rotateY(180deg)  translateY(-12px);
  }
  100%{
    transform: rotateY(360deg)  translateY(0);
  }
}

.dots{
  z-index: 8;
  bottom: 0;
  right: 0;
  animation-name: dotsgo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes dotsgo {
  50%{
    transform: translateY(18px);
  }
  100%{
    transform: translateY(0px);
  }
}

.plus{
  z-index: 8;
 top: -0.8rem;
  left: 50%;
  animation-name: plusgo;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@keyframes plusgo {
  50%{
    left: 48%;
    top: 4%;
  }
}

.zigzags{
  z-index: 8;
  top: -0.8rem;
   left: 0;
   animation-name: zigzaggo;
   animation-iteration-count: infinite;
   animation-duration: 5s;
}
@keyframes zigzaggo {
  50%{
    left: 5%;
  }
}

.project-section{
  padding-top: 3rem;
  background-color:rgb(231,231,231);
}

.project-heading{
  text-align: center;
  font-size: 90px;
  margin-top: 30px;
  color: var(--bgOrange);
  font-weight: 800;
}



.project-container{
  width: 1200px;
  margin: 0rem auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.project-card{
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 550px;
  background-image: url(./images/projects/Project2.png);
  background-size: cover;
 box-shadow: 0 0 40px rgb(86, 82, 82);
 position: relative;
}
.project-card::after{
  content: "";
position: absolute;
top: 0%;
left: 0%;
right: 0;
bottom: 0;
background-color: #1f1f1f9a;
z-index: 0;

}
#project-1{
  background-image: url(./images/projects/Project1.png);
  margin-right: 100px;
}
#project-2{
  background-image: url(./images/projects/Project2.png);
  margin-left: 100px;
}
#project-3{
  background-image: url(./images/projects/Project3.png);
  margin-right: 100px;
}
#project-4{
  background-image: url(./images/projects/Project4.png);
  margin-left: 100px;
}
.project-card::before{
  content: "";
position: absolute;
top: 0%;
left: 0%;
right: 0;
bottom: 0;
background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
z-index: 2;
transform: scaleX(0);
transform-origin: left;
transition: all 0.5s;

}
.project-card:hover::before{
  transform: scaleX(1);
}
.project-number{
  font-weight: 600;
  font-size: 200px;
  position: absolute;
  z-index: 5;
  color: white;
  opacity: 0;
}
.project-number-right{
  top: -45px;
  right: -46px;
}
.project-number-left{
  top: -45px;
  left: -46px;
}
.project-card:hover .project-number{
  opacity: 1;
}
.project-content{
  color: white;
  display: flex;
  position: absolute;
  flex-direction: column;
  bottom: 20%;
  z-index: 5;
  padding: 2em;
  gap: 1em;
  transition: all 0.5s;
  
}
.project-content-left{
  left: 10%;
}
.project-content-right{
  right: -10%;
}
.project-card:hover .project-content{
  transform: scale(1.1);
}
.project-skills-container{
 width: 60%;
 gap: 10px;
 display: flex;

 flex-wrap: wrap;
}

.project-skill{
  width: 40px;
}

.project-section-heading{
  color: white;
  font-size: 60px;
  font-weight: bold;
  line-height: 3rem;
}
.project-desc{
  width:70%;
  font-size:16px;
  font-style: italic;
}

.project-btn{
  display:flex;
  gap:0.9rem;
  align-items:center;
}

#project-btn:hover{
  border:none;
}

.icon-btn{
  font-size: 35px;
  gap: 15px;
  color: white;
}
.icon-btn:hover{
  color: var(--bgOrange);
}

.skills-container{
  position:relative;
  display:flex;
  /* padding:5rem; */
  margin:10rem auto;
  gap:30px;
}

.skills-container-left{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.skills-heading{
  color: var(--bgOrange);
  font-size: 48px;
  margin-bottom: 2rem;
  line-height:50px;
}
.skills-para{
  width: 85%;
  text-align: justify;
}
.skills-para p{
  margin: 15px 0;
}

.cap{
  font-size: 78px;
  font-weight: 600;
}

.skills-container-right{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  position: relative;
}
.blob-style{
  position: absolute;
  top: 9%;
    left: 21%;
  transform: translate(-50% -50%);
  z-index: -5;
  animation-name: blob;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes blob {
  50%{
    top: 10%;
    left: 25%;

  }
}
.skills-logo{
  z-index: 5;
  width: 90px;
  transition: all 0.3s;
}
.skills-logo:hover{
  transform: scale(1.3);
}

.skill-fade-text{
  user-select: none;
  position: absolute;
  font-size: 200px;
  bottom: -50%;
  right: -10%;
  font-weight: 600;
  color:rgb(231,231,231);
}

.contact-us{
  width: 100%;
  background-color:rgb(231,231,231);

}

.contact-heading{
  font-size: 5em;
  color: var(--bgOrange);
  padding-top: 5rem;
}
.contact-sub-heading{
  font-size: 3em;
  color: #343d68;
}
form{
  width: 100%;
  display: flex;
 flex-direction: column;
    margin-left: 5rem;
  margin-top:25px;
}
.form-field-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  margin-bottom: 2rem;

}
.form-field {
  width: 100%;
  height: 42px;
  border-radius: 5px;
  border: none;
  padding: 0 2rem;
  font-size: 18px;

}
.text-aera{
  height: auto;
}
#conatct-btn{
  border:none;
  font-size: 1.4rem;
  margin: 1rem 0;
}

#conatct-btn:hover{
    transform: scale(0.9);
}

.message-iocns{
    padding: 0 0.5em;
}
footer{
  background-color: #343d68;
  position: relative;
  padding: 5rem;
}
.footer-feaded-text{
  font-size: 5rem;
  position: absolute;
  padding-top: 2rem;
  bottom: 0;
  left: 0;
  color: #9d9ea37c;
  user-select: none;
}
.footer-conatier{
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

.fotter-links a{
 color: white;
 font-size: 18px;
 margin: 0 0.5rem;
 transition: all 0.5s;
 cursor: pointer;
}
.fotter-links a:hover{
  color: var(--bgOrange);
}

.fotter-icons{
  display: flex;
  gap: 1rem;
}